@charset "utf-8";
body{
	margin:0px;
	padding:0px;
	font-family:Tahoma, Geneva, sans-serif;
	 line-height:1.5em;
	 background-color:#FFC;
}

#body_wrapper {	/*背景容器的样式*/
	width: 1350px;
	height:630px;
	background-color:#FFC;	
	text-align:center;
	margin:0 auto;
        background-image:url(../image/bigbook.jpg);
        background-repeat:100%;
	background-position:center;
}
#head_wrapper {/*整个页面容器wrapper的样式*/
	width: 1350px;
	margin:0px 0px;

}
.header {	/*页面顶部的样式*/
	width: 1350px;
	height: 630px;
	
	background-repeat:no-repeat;
	background-position:center;
}
.header ul{
	z-index:100;
	margin:0 0 0 14px;
	padding:0;
	list-style-type:none;
}
.header ul li{
	padding: 0 2px;
	position: relative;
	display: inline;
	float:right;
	right:100px;
	top:10px;
	z-index: 100;
	height: 30;
}
.header ul li a{
	display:block;
	padding:2px 5px;
	height:25px;
	line-height:25px;
	font-weight: bold;
	font-size:15px;
	color:#fff;
	text-decoration:none;
	outline:none;
	text-align:center;
}

.header ul li a:link{
	color:#FFF;
}

.header ul li a.selected,.header ul li a:hover{	
    color:#000;
	background-color:#D9D9D9;
	opacity: 0.5; 
	}

.header p {	/*网站摘要*/
	color: #FFF;
	position: absolute;
	left: 724px;
	top: 278px;
	font-size:20px;
	font-weight:bold;
	width: 300px;
	height: 32px;
	margin: 5px auto;
}

.daohang ul li{
	position:relative;
	display:inline;
	float:left;
    padding: 0 2px;
	float:left;
	left:320px;
	top:550px;
	z-index:100;
	height: 30;
}
.daohang a:link{
	background:#630;
}
.daohang ul li a{
	display:block;
	padding:0 30px;
	height:40px;
	line-height:40px;
	font-size:15px;
	color: #FFF;
	text-decoration:none;
	outline:none;
	text-align:center;
}
.ddaohang ul li a.select,.daohang ul li a:hover{
	color:#fff;
	background:#2f2f2f;
}
