@charset "utf-8";

body{
margin:0px;
padding:0px;
font-family:Tahoma, Geneva, sans-serif;
line-height:1.5em;
background-color:#FFC;
width:1365px;
height:625px;
}

.header {	
width:1365px;
height:625px;
background-color:#FFC;	
text-align:center;
margin:0 auto;
background-image:url(../image/bigbook.jpg);
background-size:100% 100%;	
background-position:center;       

}

.header ul{	
z-index:100;
margin:0 0 0 14px;
padding:0;
list-style-type:none;
}

.header ul li{	
padding: 0 2px;
position: relative;
display: inline;
float:right;	
right:90px;
top:10px;
z-index: 100;	
height: 30px;
}

.header ul li a{
display:block;
padding:2px 5px;
height:25px;
line-height:25px;
font-weight: bold;
font-size:15px;
	
color:#fff;
text-decoration:none;	
outline:none;
text-align:center;
}



.header ul li a:link{
color:#FFF;
}



.header ul li a.selected,.header ul li a:hover{	     
color:#000;
background-color:#D9D9D9;	
opacity: 0.8; 
	}


.zhongjian{
width: 1365px;	
height: 308px;	
background-color: rgba(255,255,255,0.3);
position: relative;	
left: 0px;
top: 122px;
}


.zhongjian h1{       
font-size:100px;       
text-align:center;       
position: relative;     
top:65px;       
left:85px;
}

.header p {		
color: #FFF;
position: relative;
left: 24px;
top: -30px;
font-size:20px;
font-weight:bold;
width: 300px;
height: 32px;
margin: 5px auto;
}

.daohang ul li{
position:relative;	
display:inline;	
float:left;       
padding: 0 1px;	
left:395px;
top:0px;	
z-index:100;
height: 30;
}

.daohang a:link{
background:#630;
}

.daohang ul li a{	
display:block;
padding:0 30px;
height:40px;
line-height:40px;	
font-size:15px;
color: #FFF;
text-decoration:none;
outline:none;
text-align:center; 
}

.daohang ul li a.select,.daohang ul li a:hover{	
color:#630;	
background:#DFDFDF;    
}
