@charset "utf-8";

body{

margin:0px;
padding:0px;
font-family:Tahoma, Geneva, sans-serif;
line-height:1.5em;
background-color:#FFC;
width:1365px;
height:1100px;
}

.header {	/*上面部分*/
width: 1365px;
height: 625px;
background-color:#FFC;
text-align:center;
margin:0 auto;
background-image:url(../image/bigbook.jpg);
background-size:100% 100%;
background-position:center;

}

.header ul{
z-index:100;
margin:0 0 0 14px;
padding:0;
list-style-type:none;
}

.header ul li{
padding: 0 2px;
position: relative;
display: inline;
float:right;
right:90px;
top:10px;
z-index: 100;
height: 30px;
}

.header ul li a{
display:block;
padding:2px 5px;
height:25px;
line-height:25px;
font-weight: bold;
font-size:15px;
color:#fff;
text-decoration:none;
outline:none;
text-align:center;
}


.header ul li a:link{

color:#FFF;
}


.header ul li a.selected,.header ul li a:hover{
color:#000;
background-color:#D9D9D9;
opacity: 0.8;
	}


.zhongjian{
width: 1365px;
height: 308px;
background-color: rgba(255,255,255,0.3);
position: relative;
left: 0px;
top: 122px;
}


.zhongjian h1{
font-size:100px;
text-align:center;
position: relative;
top:65px;
left:85px;
}

.header p {
color: #FFF;
position: relative;
left: 24px;
top: -30px;
font-size:20px;
font-weight:bold;
width: 300px;
height: 32px;
margin: 5px auto;
}

.daohang ul li{
position:relative;
display:inline;
float:left;
padding: 0 1px;
left:395px;
top:0px;
z-index:100;
height: 30;
}

.daohang a:link{
background:#630;
}

.daohang ul li a{
display:block;
padding:0 30px;
height:40px;
line-height:40px;
font-size:15px;
color: #FFF;
text-decoration:none;
outline:none;
text-align:center;
}

.daohang ul li a.select,.daohang ul li a:hover{
  color:#630;
  background:#DFDFDF;
  opacity: 0.9;
}

/*二级导航*/
.daohang li ul{
position:absolute;
left:-8px;
top:2px;
display:none;
}

.daohang li ul{
position:relative;
}

.daohang li ul a{
width:100px;
display:block;
text-decoration:none;
color:#FFF;
background:#630;
padding:0 0px;
}

.daohang li ul a:hover{
background-color:#DFDFDF;
color:#630;
}

*html .daohang li ul{
folat:left;
height:1%;
}

*html .daohang li ul a{
height:1%;
}

.daohang li:hover ul,li.over ul{
display:block;
}



.content{
	width: 1363px;
        height: 375px;
	background:#FFF;
	position:relative;
	z-index:0;
        float:left;
	border-right:solid thin #CCC;
	border-left:solid thin #CCC;
	border-bottom:solid thin #CCC;
}

.content .submit{
	background:#8F4B18;
	font-size:14px;
	color: #FFF;
	font-weight:bold;
	width: 56px;
	height: 28px;

}

font{
    position:relative;
    top:90px;
    left:10px;

}

/*底部*/
.footer{
	width: 1350px;
	height: 125px;
	position:relative;
	color:#333;
	float: left;
	border:none;
}
.footer p{
        color:#333;
	font-weight:bold;
	position:relative;
}

.footer a {
	color:#714D37;

}
.footer a:hover {
	font-weight:bold;
}
