web- app>
servlet
<servlet- name> register Servlet </ servlet-name>
<servlet- class >myservlet control HandleRegister </servlet - class>
</servlet>
servlet- mapping
servlet-name register Servlet </servlet -name>
<url- pattern >/register Servlet </url-pattern>
</servlet-mapping>
servlet>
servlet-name loginServlet </servlet -name
servlet- class myservlet control HandleLogin </servlet-class
</servlet>
servlet -mapping>
servlet-name>loginServlet </servlet-name
<url-pattern >/loginServlet <url-pattern>
</servlet-mapping>
servlet>
servlet -name>deleteServlet </servlet- name
<servlet-class >myservlet control HandleDelete </servlet-class
</servlet>
servlet- mapping>
servlet- name> deleteServlet </servlet-name>
<url-pattern >/deleteServlet </url-pattern>
</servlet -mapping>
servlet>
<servlet- name > buyServlet </servlet-name>
<servlet-class>myservlet control HandleBuyGoods </servlet-class>
</servlet>
servlet- mapping>
servlet- name> buyServlet </servlet- name>
1- pattern >/buy Servlet </url-pattern>
</servlet-mapping>
servlet>
servlet- name query Servlet </servlet-name>
servlet- class>myservlet control QueryAllRecord </servlet-class>
</servlet>
servlet-mapping>
servlet- name queryServlet </servlet-name>
<url-pattern >query Servlet </url-pattern>
</servlet-mapping>
servlet
servlet -name> putGoods Servlet </servlet-name>
servlet-class >myservlet control Put ToCar </servlet-class>
</servlet
servlet-mapping>
servlet- name putGoods Servlet </servlet-name>
<url-pattern >/putGoods Servlet </url-pattern>
</servlet-mapping>
servlet
servlet- name searchByConditionServlet </servlet-name>




servlet-class> myservlet control SearchByCondition </servlet -class>
</servlet>
servlet
ing>
servlet- name> searchByConditionServlet </servlet-name>
<url-pattern>/searchByConditionServlet </url-pattern>
</servlet -mapping>
servlet>
servlet- name exitServlet </servlet-name
servlet- class>myservlet control HandleExit </servlet-class>
</
vlet
servlet-name >exitServlet </servlet-name>
let- mapping
<
<url- pattern >/exitServlet</url
pattern>
</servlet
ping>
eb- app>
